body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background-color: #0d1117;
    color: #c9d1d9;
    line-height: 1.5;
}
#nome {
    text-align: center;
}
#foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#descricao {
    text-align: center;
}
/* #habilidades {
}
 #lista-habilidades {
    list-style-type: none;
} */
